# Output folders
Build
# Visual Studio files
.vs
*.vcxproj*
*.sln
*.pdb
*.obj
*.exe

# Sublime Text files
*.sublime-*

# Clangd
.cache
compile_commands
compile_commands.json

# VSCode
.VSCode

# ImGui
imgui.ini

